#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.decks {
    display: grid;
    width: 500px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.decks li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.5s;
    flex-direction: column;
}
.decks li:hover {
    background-color: rgb(165, 165, 165);
    color: black;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.form input {
    height: 25px;
}
